body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}


.writedata {
    margin-bottom: 15px;
}

.lab12{
    margin-left: 50px;
    margin-bottom: 15px;
}

.lab13{
    margin-left: 50px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box; /* Щоб padding не розширював інпут */
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #2c3e50;
    min-height: 1.2em;
}